/* 共通スタイル */
body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #f9f9f9;
    padding: 15px 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.app-title {
    margin: 0;
    width: 200px;
}

/* コンテナ */
.container {
    max-width: 1000px;
    margin: 30px auto;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

/* メイン画像 */
.hero-image {
    width: 100%;
    height: 350px;
    background-color: #eee;
    position: relative;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    font-size: 24px;
    font-weight: bold;
    background: #f0f0f0;
}

/* コンテンツエリア */
.content {
    padding: 20px 40px;
    margin: 0 30px;
}

/* タイトルエリア */
.header-area {
    margin-bottom: 5px;
    border-bottom: 2px solid #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header-area-icons {
    display: flex;
    gap: 15px;
    margin: 30px 0 10px 0;
}

.update-icon {
    width: 34px;
    cursor: pointer;
}

.delete-icon {
    width: 30px;
    cursor: pointer;
}

.place-name {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin: 30px auto 10px 0;
}

.genre-badge {
    display: inline-block;
    background: #eee;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 13px;
    color: #555;
    vertical-align: middle;
    margin-left: 10px;
}

.reservable-badge {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

.res-ok {
    background-color: #28a745;
}

.res-ng {
    background-color: #dc3545;
}

.res-unk {
    background-color: #6c757d;
}

.res-diff {
    background-color: #ffc107;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center
}

/* 情報テーブル */
.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px 0;
}

.info-table th {
    width: 12%;
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #eee;
    color: #888;
    font-weight: normal;
    vertical-align: top;
}

.info-table td {
    width: 70%;
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-weight: 500;
}

.address-icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.phone-icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.closing-icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.url-icon {
    width: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

/* リンクボタン */
.btn {
    display: block;
    flex: 1;
    text-align: center;
    padding: 15px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    width: 70%;
    height: 20px;
}

.btn-web {
    background: #333;
    color: white;
}

.btn-map {
    background: #4285F4;
    color: white;
}

.btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.disabled {
    background: #ccc;
    pointer-events: none;
}

.note-icon {
    width: 25px;
    vertical-align: middle;
    margin-right: 8px;
}

.note-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: none;
}

.note-table th {
    width: 9%;
    text-align: left;
    padding: 15px 18px;
    font-weight: normal;
    vertical-align: top;
}

.note-table td {
    width: 70%;
    border-bottom: 1px solid #eee;
    font-weight: 500;
    margin-top: 15px;         
    padding: 20px;           
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-height: 50px;
}